@model List<Events>
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Events e in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-controller="Event" asp-action="EventDetail" asp-route-id="@e.id">
                                <img src="~/assets/img/event/@e.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@e.Day <span>@e.Month</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-controller="Event" asp-action="EventDetail" asp-route-id="@e.id">@e.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @e.StartTime - @e.EndTime</li>
                                <li><span>venue</span> @e.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="EventDetail" asp-route-id="@e.id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        if (i == ViewBag.page)
                        {
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Event"
                                   asp-action="Index"
                                   asp-route-page="@i">@i</a>
                            </li>
                        }

                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Event End -->
