@model Eduhome.Models.Sliders

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sliders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
